.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.image {
  width: 200px;
  height: auto;
  margin-top: 20px;
}
